:root {
    --black: #212121;
    --gray: #252525;
    --dark-red: #9b2232;
    --light-red: #e84a5f;
    --white: #e4e1e1;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 150vh;
}

.main {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    height: 12vh;
    /* background: tomato; */
}

header h2 {
    color: var(--white);
    font-size: 1.7em;
    letter-spacing: 1px;
    
}

.logo a {
    text-decoration: none;
}

.nav-link {
    color: var(--white);
    transition: 0.5s;

}

.nav-link:hover {
    transform: scale(1.1);
    color: var(--light-red);
}

.active {
    color: var(--light-red);
}

.main-content {
    height: 88vh;
    color: var(--white);
}

.main-content .title h2{
    font-size: 1.4em;
    font-weight: 600;
}

.main-content .sub-title h1 {
    font-size: 3.4em;
    margin-top: 15px;
    font-weight: 700;
}

.wrap {
    text-decoration: none;
    color: var(--white);
}

.typewrite:hover {
    text-decoration: none;
    cursor: default;
}

.main-content .paragraph p {
    font-size: 1em;
    font-weight: 200;
    padding: 10px;
    margin: 10px 20px;
    text-align: center;
}

.main-content .download-button button {
    border-radius: 30px;
    padding: 15px 30px;
    background: var(--light-red);
    color: var(--white);
    border-color: var(--light-red);
    transition: 0.5s;
}

.main-content .download-button button:hover {
    background: none;
    border-color: var(--white);
}

.about {
    height: 100vh;
    background: var(--gray);
}

.about .img-thumbnail {
    max-height: 80%;
    background-color: transparent;
    border: 1px solid rgb(78, 78, 78);
}

.about-text {
    color: var(--white);
}

.about .about-title {
    padding: 2px 0;
    border-bottom: 1px solid var(--light-red);
}

.about .about-title h1 {
    font-size: 2em;
    font-weight: 600;
}

.about .about-sub-title  {
    padding: 5px 0;
    margin: 10px 0;
}
.about .about-sub-title h2 {
    font-size: 1.5em;
}

.about .about-sub-title h2 span {
    color: var(--light-red);
}

.about .about-paragraph p {
    font-size: .9em;
    font-weight: 200;
    color: #9e9e9e;
    /* letter-spacing: 0.1em; */
    /* line-height: 26px; */
}
.about-icons {
    margin-top: 30px;
}
.about-icons ul li a {
    border: 1px solid;
    padding: 10px 15px;
    border-radius: 100px;
    margin: 0 10px;
}

.fa-facebook-f {
    padding: 0 3px;
}