:root {
    --black: #212121;
    --gray: #252525;
    --dark-red: #9b2232;
    --light-red: #e84a5f;
    --white: #e4e1e1;
    --muted: #9e9e9e;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 150vh;
}

.main {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    height: 12vh;
    /* z-index: 100000; */
}

header.sticky {
    width: 100vw;
    position: fixed;
    /* display: flex; */
    background: rgba(0,0,0,0.4);
    z-index: 1000000;
    transition: all 0.5s;
    
}
header.sticky .logo a h2{
    transition: 0.8s;
}
header.sticky .nav {
    margin-right: 17px;
    transition: 0.8s;
}

header h2 {
    color: var(--white);
    font-size: 1.7em;
    letter-spacing: 1px;
    
}

.logo a {
    text-decoration: none;
    transition: 0.5s;
}

.nav-link {
    color: var(--white);
    transition: 0.5s;

}

.nav-link:hover {
    transform: scale(1.1);
    color: var(--light-red);
}

.active {
    color: var(--light-red);
}

.main-content {
    height: 88vh;
    color: var(--white);
}

.main-content .title h2{
    font-size: 1.4em;
    font-weight: 600;
}

.main-content .sub-title h1 {
    font-size: 3.4em;
    margin-top: 15px;
    font-weight: 700;
}

.wrap {
    text-decoration: none;
    color: var(--white);
}

.typewrite:hover {
    text-decoration: none;
    cursor: default;
}

.main-content .paragraph p {
    font-size: 1em;
    font-weight: 200;
    padding: 10px;
    margin: 10px 20px;
    text-align: center;
}

.main-content .download-button button {
    border-radius: 30px;
    padding: 15px 30px;
    background: var(--light-red);
    color: var(--white);
    border-color: var(--light-red);
    transition: 0.5s;
}

.main-content .download-button button:hover {
    background: none;
    border-color: var(--white);
}

.about {
    height: 100vh;
    background: var(--gray);
}

.about .img-thumbnail {
    max-height: 80%;
    background-color: transparent;
    border: 1px solid rgb(78, 78, 78);
}

.about-text {
    color: var(--white);
}

.about .about-title {
    padding: 2px 0;
    border-bottom: 1px solid var(--light-red);
}

.about .about-title h1 {
    font-size: 2em;
    font-weight: 600;
}

.about .about-sub-title  {
    padding: 5px 0;
    margin: 10px 0;
}
.about .about-sub-title h2 {
    font-size: 1.5em;
}

.about .about-sub-title h2 span {
    color: var(--light-red);
}

.about .about-paragraph p {
    font-size: .9em;
    font-weight: 200;
    color: var(--muted);
    /* letter-spacing: 0.1em; */
    /* line-height: 26px; */
}
.about-icons {
    margin-top: 30px;
}
.about-icons ul li a {
    border: 1px solid;
    padding: 10px 15px;
    border-radius: 100px;
    margin: 0 10px;
}

.fa-facebook-f {
    padding: 0 3px;
}

.services-header {
    background-color: var(--black);
}

.services-title {
    color: var(--white);
    border-bottom: 1px solid var(--light-red);
}

.services-title h1{
    font-size: 2em;
    font-weight: 600;
}

.services-sub-title p {
    font-size: .9em;
    font-weight: 200;
    color: var(--muted);
}

.services {
    background: var(--black);
}

.services-icon {
    color: var(--light-red);
}

.services-card .card {
    background: transparent;
    color: var(--white);
    border-color: rgb(68, 68, 68);
}

.services-icon {
    margin-top: 10px;
}
.services-card-title {
    font-weight: 600;
    text-align: center;
    font-size: 1.1em;
}

.services-card-title hr {
    /* height: 1px; */
    border: 1px solid var(--light-red);
    width: 30%;
    transition: 0.5s;
}

.card:hover .card-body .services-card-title hr {
    width: 60%;
}

.services-card-text {
    font-weight: 200;
    font-size: .9em;
    text-align: center;
    color: var(--muted);
}

.portfolio {
    background: var(--gray);
}

.portfolio-title {
    color: var(--white);
    border-bottom: 1px solid var(--light-red);
}

.portfolio-title h1{
    font-size: 2em;
    font-weight: 600;
}

.portfolio-sub-title p {
    font-size: .9em;
    font-weight: 200;
    color: var(--muted);
}

.portfolio .card {
    height: 340px;
    width: 250px;
    border-radius: 10px;
    transition: all 1s linear;
    transform-style: preserve-3d;
    border: none;
    /* overflow: hidden; */
    
}

.portfolio-card-title {
    color: var(--white);
    padding-bottom: 5px;
    font-size: 1.3em;
    font-weight: 600;
    border-bottom: 1px solid var(--light-red);
}

.portfolio-card-desc {
    color: var(--white);
    font-size: 0.8em;
    font-weight: 400;
    text-align: center;
}

.portfolio-card-button button {
    border-radius: 30px;
    padding: 15px 30px;
    background: var(--light-red);
    color: var(--white);
    border-color: var(--light-red);
    transition: 0.5s;
}

.portfolio-card-button button:hover {
    background: none;
    border-color: var(--white);
}

.front, .back{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    border-radius: 10px;
    border: none;
}

.front-1 {
    background: url('../images/site1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.front-2 {
    background: url('../images/site2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.front-3 {
    background: url('../images/site10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.front-4 {
    background: url('../images/site4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.front-5 {
    background: url('../images/site5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.front-6 {
    background: url('../images/site6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.front-7 {
    background: url('../images/site7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.front-8 {
    background: url('../images/site8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.front{
    z-index: 2;
    backface-visibility: visible;
}

.back {
    z-index: 1;
    transform: rotateY(180deg);
}

.portfolio .card:hover {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    transform: rotateY(-180deg);
}

.portfolio .container {
    perspective: 1000px;
}


.contact {
    background: var(--black);
}

.contact-title {
    color: var(--white);
    border-bottom: 1px solid var(--light-red);
}

.contact-title h1{
    font-size: 2em;
    font-weight: 600;
}

.contact-sub-title p {
    font-size: .9em;
    font-weight: 200;
    color: var(--muted);
}

.contact-icon {
    color: var(--light-red);
}

.contact-title-card {
    color: var(--white);
}

.contact-title-desc {
    color: var(--muted);
}

.send-button {
    border-radius: 30px;
    padding: 15px 30px;
    background: var(--light-red);
    color: var(--white);
    border-color: var(--light-red);
    transition: 0.5s;
}

.send-button:hover {
    background: none;
    border-color: var(--white);
    color: var(--white);
}

.form-control {
    border-radius: 0px;
    border: 1px solid rgb(73, 73, 73);
    box-shadow: none;
    background: transparent;
}

.form-control:focus {
    border-radius: 0px;
    border: 1px solid rgb(73, 73, 73);
    background: transparent;
    box-shadow: none;
    outline: 0;
}